# Python cache
__pycache__/
*.py[cod]
.venv/

# Policy and value files
*.npy
*.pkl

# Media
*.mp4
*.avi
videos/

AutomatedDriving/
AutomatedDriving/
*.docx
*.pdf
*.pptx
*.ipynb
Bibliografia/

FirstSteps/

OtherEnvs/

# Claude Code working directory
.claude/


validation/

environments/automated_driving/check_wrapper.py
environments/deep_sea_treasure/check_wrapper.py
environments/resource_gathering/check_wrapper.py